.container {
  margin: 20px auto;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.dashboard-title {
  color: #2c3e50;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 30px;
}

.kpi-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 30px;
}

.kpi-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.kpi-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.kpi-card h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #3498db;
}

.kpi-card p {
  font-size: 2em;
  font-weight: bold;
  color: #2c3e50;
}

.charts-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.chart-container {
  flex: 0 0 48%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.chart-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.chart-title {
  text-align: center;
  font-size: 1.5em;
  color: #2c3e50;
  margin-bottom: 15px;
}

canvas {
  max-width: 100%;
  max-height: 350px; /* Reduce el tamaño del gráfico */
  margin: 0 auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.styled-table th {
  background-color: #3498db;
  color: white;
  font-size: 1.1em;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tr:hover {
  background-color: #f1f1f1;
}
